/* PHASE 9: Forms */

.thumb.main {
    float: left;
}

.post {
    width: 87%;
    background-color: #eee;
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: black 0px 2px 2px;
    float: right;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 20px;
}

.post-title, .post-body {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 25px;
}

.post-title-text, .post-body-text {
    background-color: white;
    width: 95%;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 3px;
    font-weight: normal;
    font-size: 16px;
}

.post-body-text {
    height: 150px;
    resize: none;
}

.post-title-text:focus, .post-body-text:focus {
    border-color: lightgreen;
}

.submission {
    display: flex;
    margin: 26px;
}

.submission > input {
    position: relative;
    background-color: #0c0;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: #070 0px 3px;
}

.submission > input:hover {
    background-color: rgb(1, 185, 1);
}

.submission > input:active {
    background-color: rgb(1, 185, 1);
    height: 100%;
    top: 3px;
    box-shadow: none;
}

.submission > h1 {
    font-weight: normal;
}

.submission > h1, .cancel {
    position: relative;
    top: 9px;
    margin: 0px 15px;
}

.cancel:hover {
    color: red;
}