/* Define application-wide selectors here!*/

html {
	position: relative;
	height: 100%;
}

body {
	width: 80%;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
}

button {
	// background-color:
	// border-color:
	// color:
	// font-weight:
	// padding:
	// border-radius:
	// transition:
	// font-family:
	// text-transform:
	// font-size:
	// text-align:
}

button:hover {
	// background-color:
	// border-color:
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

.hidden {
	display: none;
}