/* PHASE 11: Icons */
.icon-small-friend {
  position: absolute;
  display: inline-block;
  width: 25px;
  padding-top: 25px;
  overflow: hidden;
  background-size: 25px;
  background-position: 0 -150px;
  background-image: url("../images/sprite.png");
}

.icon-wall-message {
  position: absolute;
  display: inline-block;
  width: 25px;
  padding-top: 25px;
  overflow: hidden;
  background-size: 25px;
  background-position: 0 -150px;
  background-image: url("../images/sprite.png");
}

.icon-about {
  position: absolute;
  display: inline-block;
  width: 25px;
  padding-top: 25px;
  overflow: hidden;
  background-size: 25px;
  background-position: 0 -150px;
  background-image: url("../images/sprite.png");
}

.icon-photos {
  position: absolute;
  display: inline-block;
  width: 25px;
  padding-top: 25px;
  overflow: hidden;
  background-size: 25px;
  background-position: 0 -150px;
  background-image: url("../images/sprite.png");
}

.icon-message-before {
  position: absolute;
  display: inline-block;
  width: 25px;
  padding-top: 25px;
  overflow: hidden;
  background-size: 25px;
  background-position: 0 -150px;
  background-image: url("../images/sprite.png");
}

.icon-message-after {
  position: absolute;
  display: inline-block;
  width: 25px;
  padding-top: 25px;
  overflow: hidden;
  background-size: 25px;
  background-position: 0 -150px;
  background-image: url("../images/sprite.png");
}

.icon-heart-before {
  position: absolute;
  display: inline-block;
  width: 25px;
  padding-top: 25px;
  overflow: hidden;
  background-size: 25px;
  background-position: 0 -150px;
  background-image: url("../images/sprite.png");
}

.icon-heart-after {
  position: absolute;
  display: inline-block;
  width: 25px;
  padding-top: 25px;
  overflow: hidden;
  background-size: 25px;
  background-position: 0 -150px;
  background-image: url("../images/sprite.png");
}


.icon-post-before {
  position: absolute;
  display: inline-block;
  width: 25px;
  padding-top: 25px;
  overflow: hidden;
  background-size: 25px;
  background-position: 0 -150px;
  background-image: url("../images/sprite.png");
}

.icon-post-after {
  position: absolute;
  display: inline-block;
  width: 25px;
  padding-top: 25px;
  overflow: hidden;
  background-size: 25px;
  background-position: 0 -150px;
  background-image: url("../images/sprite.png");
}